.h-navbar {
    width:100%;
    height:80px;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    position: absolute;
    z-index: 99;
    top:0;
    left:0;

    h1 {
        color:green;
    }

    span {
        color: whitesmoke;
    }

    .leftside {
        flex: 90%;
        height:100%;
        display: flex;
        align-items: center;
        padding-left: 20px;
    }

    .rightside {
        flex: 30%;
        height:100%;
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 40px;
    }
}



.main-back {
    background-image: url(../assets/img/green.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width:100%;
    min-height:100vh;
    z-index: 1;
    position:relative;

    .title {
        position:absolute;
        top:200px;
        left:200px;
        color:whitesmoke;
        font-size:50pt;
        font-weight:bold;

        h1 {
            text-align: center;
        }

        span {
            color:green;
            font-size:120pt;
        }

    }
}

.main-back:before {
    content: '';
    position:absolute;
    left:0;
    top:0;
    right:0;
    bottom:0;
    box-sizing:border-box;
    background-color: black;
    opacity:0.7;
    z-index: -1;
}

.about-back {
    background-image: url(../assets/img/second.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width:100%;
    min-height:100vh;
    .subtitle {
        position: relative;
        top:300px;
        left:250px;
        font-weight:800;
        font-size:60pt;

        p {
            font-size:24pt;
            font-weight:100;
            left:200px;
        }
        
    }
    
}


